<launch>

	<node name="child_process_b" pkg="baxter_demo" type="child_process_d.py" respawn="false" output='screen' launch-prefix="xterm -e"/>
	<node name="turtlesim_circle" pkg="baxter_demo" type="turtlesim_circle.py" respawn="false"/>
	<node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" respawn="false"/>
	

</launch>